body {
      background-color: cornflowerblue;
      color: white;
      font-size: 18px;
    }
    /* Don't change the CSS above, add Your CSS below */

.PColor {
    color: coral;
}

.FontSize {
    font-size: 2rem;
}

.FontWeight {
    font-weight: 900;
} 

.FontFamily {
    font-family: Caveat, cursive;
    font-weight: 400;
}

.TextAlign {
    text-align: right;
}

html {
    font-size: 30px;
}